@import '../../../colors/colors';



.toolbar {
    &-row{
        display: flex;
        align-items: center;
        &-logo {
           flex: 0 0 10%;
           display: flex;
           align-items: center;
        }

        &-header {
            color:$color-grey;
           
        }

        &-links {
            flex: 1;
            display: flex;
            justify-content: space-around;
            
            align-items: stretch;
        }

        &-links > * {
            padding: 0.85rem;
        }
    }
}

a {
    text-decoration: none;
    color:$color-grey;
}

a:hover{
    background-color: $color-white;
}

.logo{
    margin-right : 0.7rem;
    height :4rem;
    width:4rem;
}