
        <form class='register-form'>
            <mat-form-field class='register-form-field'>
                <input matInput placeholder='First Name' name='firstname' required>
            </mat-form-field><br>
            <mat-form-field class='register-form-field'>
                <input matInput placeholder='Last Name' name='lastname' required>
            </mat-form-field><br>
            <mat-form-field class='register-form-field'>
                <input matInput placeholder='Username or Email'  name='username' required>
            </mat-form-field><br>
            <mat-form-field class='register-form-field'>
                <input matInput placeholder='Password' name='password' required>
            </mat-form-field><br>
            <mat-form-field class='register-form-field'>
                <input matInput placeholder='Reenter Password' name='password' required>
            </mat-form-field>
        </form>

