
<mat-card class='login-card'>
    <mat-card-content class='login-card-content'>
        <mat-tab-group class='tab-group'>
            <mat-tab>
                <ng-template mat-tab-label>
                    <h2 class='login-label'>login</h2>
                </ng-template>
                <login></login>
            </mat-tab>
            <mat-tab> 
                <ng-template mat-tab-label>
                    <h2 class='login-label'>register</h2>
                </ng-template>
                <register></register>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>
